iso19115-1-2013/schema/mds/1.0/metadataDataServices.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://www.isotc211.org/2005/cit/1.0/2013-03-28" xmlns:dqm="http://www.isotc211.org/2005/dqm/1.0/2013-03-28" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:lan="http://www.isotc211.org/2005/lan/1.0/2013-03-28" xmlns:mcc="http://www.isotc211.org/2005/mcc/1.0/2013-03-28" xmlns:mds="http://www.isotc211.org/2005/mds/1.0/2013-03-28" xmlns:mri="http://www.isotc211.org/2005/mri/1.0/2013-03-28" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mds/1.0/2013-03-28" version="1.0">
  <include schemaLocation="mds.xsd"/>
  <import namespace="http://www.isotc211.org/2005/cit/1.0/2013-03-28" schemaLocation="../../cit/1.0/cit.xsd"/>
  <import namespace="http://www.isotc211.org/2005/dqm/1.0/2013-03-28" schemaLocation="http://geonetwork-opensource.org/schemas/ISO_19157_Schemas/dqm.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/lan/1.0/2013-03-28" schemaLocation="../../lan/1.0/lan.xsd"/>
  <import namespace="http://www.isotc211.org/2005/mcc/1.0/2013-03-28" schemaLocation="../../mcc/1.0/mcc.xsd"/>
  <import namespace="http://www.isotc211.org/2005/mri/1.0/2013-03-28" schemaLocation="../../mri/1.0/mri.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="MD_Metadata" substitutionGroup="gco:AbstractObject" type="mds:MD_Metadata_Type">
    <annotation>
      <documentation>root entity which defines metadata about a resource or resources</documentation>
    </annotation>
  </element>
  <complexType name="MD_Metadata_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
 <!-- ShapeChange is still putting in bogus featureAttribute element; remove manually SMR 2013-03-28 -->
          <element minOccurs="0" name="metadataIdentifier" type="mcc:MD_Identifier_PropertyType"/>
          <element minOccurs="0" name="defaultLocale" type="lan:PT_Locale_PropertyType">
            <annotation>
              <documentation>Provides information about an alternatively used localized character string for a linguistic extension</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="parentMetadata" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>Identifier and onlineResource for a parent metadata record</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="metadataScope" type="mds:MD_MetadataScope_PropertyType"/>
          <element maxOccurs="unbounded" name="contact" type="cit:CI_Responsibility_PropertyType">
            <annotation>
              <documentation>party responsible for the metadata information</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="dateInfo" type="cit:CI_Date_PropertyType">
            <annotation>
              <documentation>Date(s) other than creation date; e.g. expiry date</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="metadataStandard" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>Citation for the standards to which the metadata conforms</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="metadataProfile" type="cit:CI_Citation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="alternativeMetadataReference" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>unique Identifier and onlineResource for alternative metadata</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="otherLocale" type="lan:PT_Locale_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="metadataLinkage" type="cit:CI_OnlineResource_PropertyType">
            <annotation>
              <documentation>online location where the metadata is available</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="spatialRepresentationInfo" type="mcc:Abstract_SpatialRepresentation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenceSystemInfo" type="mcc:Abstract_ReferenceSystem_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="metadataExtensionInfo" type="mcc:Abstract_MetadataExtension_PropertyType"/>
          <element maxOccurs="unbounded" name="identificationInfo" type="mri:AbstractMD_Identification_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="contentInfo" type="mcc:Abstract_ContentInformation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="distributionInfo" type="mcc:Abstract_Distribution_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="dataQualityInfo" type="dqm:DQ_DataQuality_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="resourceLineage" type="mcc:Abstract_LineageInformation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="portrayalCatalogueInfo" type="mcc:Abstract_PortrayalCatalogueInformation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="metadataConstraints" type="mcc:Abstract_Constraints_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="applicationSchemaInfo" type="mcc:Abstract_ApplicationSchemaInformation_PropertyType"/>
          <element minOccurs="0" name="metadataMaintenance" type="mcc:Abstract_MaintenanceInformation_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_Metadata_PropertyType">
    <sequence minOccurs="0">
      <element ref="mds:MD_Metadata"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_MetadataScope" substitutionGroup="gco:AbstractObject" type="mds:MD_MetadataScope_Type"/>
  <complexType name="MD_MetadataScope_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="resourceScope" type="mcc:MD_ScopeCode_PropertyType"/>
          <element minOccurs="0" name="name" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_MetadataScope_PropertyType">
    <sequence minOccurs="0">
      <element ref="mds:MD_MetadataScope"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
