iso19115-1-2013/schema/gcx/1.0/extendedTypesAutogenerate.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gcx="http://www.isotc211.org/2005/gcx/1.0/2013-03-28" xmlns:mcc="http://www.isotc211.org/2005/mcc/1.0/2013-03-28" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/gcx/1.0/2013-03-28" version="1.0">
  <annotation>
    <documentation>Handcrafted</documentation>
  </annotation>
  <include schemaLocation="gcx.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/mcc/1.0/2013-03-28" schemaLocation="../../mcc/1.0/mcc.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Anchor" substitutionGroup="gco:CharacterString" type="gcx:Anchor_Type"/>
  <complexType name="Anchor_Type">
    <complexContent>
      <extension base="gco:CharacterString_Type">
        <sequence>
          <element minOccurs="0" name="href" type="mcc:URI_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Anchor_PropertyType">
    <sequence minOccurs="0">
      <element ref="gcx:Anchor"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="FileName" substitutionGroup="gco:CharacterString" type="gcx:FileName_Type"/>
  <complexType name="FileName_Type">
    <complexContent>
      <extension base="gco:CharacterString_Type">
        <sequence>
          <element name="src" type="mcc:URI_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FileName_PropertyType">
    <sequence minOccurs="0">
      <element ref="gcx:FileName"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MimeFileType" substitutionGroup="gco:CharacterString" type="gcx:MimeFileType_Type"/>
  <complexType name="MimeFileType_Type">
    <complexContent>
      <extension base="gco:CharacterString_Type">
        <sequence>
          <element name="type" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MimeFileType_PropertyType">
    <sequence minOccurs="0">
      <element ref="gcx:MimeFileType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
