iso19139-2/schema/gmi/metadataEntitySet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gmi="http://sdi.eurac.edu/metadata/iso19139-2/schema/gmi" xmlns:gmd="http://www.isotc211.org/2005/gmd"
	xmlns:gco="http://www.isotc211.org/2005/gco" targetNamespace="http://sdi.eurac.edu/metadata/iso19139-2/schema/gmi" elementFormDefault="qualified" version="0.1">
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 07-30-2010 11:34:30 ====== </xs:documentation>
		<xs:documentation>This file was adapted by Innerebner Markus and Ekaterina Chuprikova</xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../../../iso19139/schema/gmd/gmd.xsd" />
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../../../iso19139/schema/gco/gco.xsd" />
	<!-- ================================== Includes ================================== -->
	<xs:include schemaLocation="../gmi/acquisitionInformation.xsd" />
	<xs:include schemaLocation="../gmi/contentInformation.xsd" />
	<xs:include schemaLocation="../gmi/spatialRepresentationInformation.xsd" />
	<xs:include schemaLocation="../gmi/referenceSystemInformation.xsd" />
	<xs:include schemaLocation="../gmi/dataQualityInformation.xsd" />
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType name="MI_Metadata_Type">
		<xs:annotation>
			<xs:documentation>Description: Root entity that defines information about imagery or gridded data - shortName: IMetadata
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:MD_Metadata_Type">
				<xs:sequence>
					<xs:element name="acquisitionInfo" type="gmi:MI_AcquisitionInformation_PropertyType" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_Metadata" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MI_Metadata" type="gmi:MI_Metadata_Type" substitutionGroup="gmd:MD_Metadata" />
	<!-- ........................................................................ -->
	<xs:complexType name="MI_Metadata_PropertyType">
		<xs:sequence>
			<xs:element ref="gmi:MI_Metadata" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference" />
		<xs:attribute ref="gco:nilReason" />
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>
