iso19139.mcp-2.0/schema/extensions/mcpExtensions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.aodn.org.au/mcp-2.0" elementFormDefault="qualified" version="2.0" xmlns:mcp="http://schemas.aodn.org.au/mcp-2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gsr="http://www.isotc211.org/2005/gsr" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gts="http://www.isotc211.org/2005/gts" xmlns:gss="http://www.isotc211.org/2005/gss" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml" xmlns:srv="http://www.isotc211.org/2005/srv" xmlns:dwc="http://rs.tdwg.org/dwc/terms/">

	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gts" schemaLocation="../gts/gts.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/gmd.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/srv" schemaLocation="../srv/srv.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="../gml/gml.xsd"/>
	<xs:import namespace="http://rs.tdwg.org/dwc/terms/" schemaLocation="mcpDwcTerms.xsd"/>

	<xs:annotation>
		<xs:documentation>
This file contains extensions of the ISO19139 gmd schema 
objects for the Australian Marine Community Profile Version 1.3, 1.4 and 2.0

Rules (added in August 2007) are read from schematrons and applied to 
the XML as the second stage of a new validate function. The first stage of the 
validate function checks against this schema definition file.

History:

Simon Pigot, January 2008 
Added Creative Commons as a substitute for gmd:MD_Constraints

Simon Pigot, December 2008
Added DataParameters to mcp:MD_DataIndentification
Added Data Commons as a substitute for gmd:MD_Constraints

Craig Jones, May 2010
Added dataObject to gmd:MD_ScopeCode code list.

Simon Pigot, July 2010
Reorganise for MCP 1.4

Simon Pigot, March 2013  
Version 2.0 changes: mcp:taxonomicCoverage and mcp:dataParameter mods

		</xs:documentation>
	</xs:annotation>


<!-- ====================================================================== -->
<!-- Extensions for currency and aggregationUnit elements EX_TemporalExtent -->
<!-- ====================================================================== -->

  <xs:element name="MD_CurrencyTypeCode" type="gco:CodeListValue_Type"/>

  <xs:complexType name="MD_CurrencyTypeCode_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="mcp:MD_CurrencyTypeCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>

  <xs:element name="MD_TemporalAggregationUnitCode" type="gco:CodeListValue_Type"/>

  <xs:complexType name="MD_TemporalAggregationUnitCode_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="mcp:MD_TemporalAggregationUnitCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>

	<xs:element name="EX_TemporalExtent" substitutionGroup="gmd:EX_TemporalExtent" type="mcp:EX_TemporalExtent_Type"/>

	<xs:complexType name="EX_TemporalExtent_Type">
		<xs:annotation>
			<xs:documentation>
				Adds currency and temporalAggregation to gmd:EX_TemporalExtent_Type
				and temporarily - beginTime and endTime - these two should be 
				deprecated because the gml: constructs work correctly now
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:EX_TemporalExtent_Type">
				<xs:sequence minOccurs="0">
					<xs:element name="beginTime" minOccurs="0" maxOccurs="1" type="gco:DateTime_PropertyType"/>
					<xs:element name="endTime" minOccurs="0" maxOccurs="1" type="gco:DateTime_PropertyType"/>
					<xs:element name="currency" minOccurs="0" maxOccurs="1" type="mcp:MD_CurrencyTypeCode_PropertyType"/>
					<xs:element name="temporalAggregation" minOccurs="0" maxOccurs="1" type="mcp:MD_TemporalAggregationUnitCode_PropertyType"/>
				</xs:sequence>
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:EX_TemporalExtent"/> 
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="EX_TemporalExtent_PropertyType">
		<xs:sequence>
		 <xs:element ref="mcp:EX_TemporalExtent" minOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

<!-- ====================================================================== -->
<!-- Add MD_Commons as a substitute for MD_Constraints -->
<!-- ====================================================================== -->

	<xs:element name="MD_Commons" substitutionGroup="gmd:MD_Constraints" type="mcp:MD_CommonsConstraints_Type"/>

	<xs:complexType name="MD_CommonsConstraints_Type">
		<xs:annotation>
			<xs:documentation>
				Add MD_Commons as an extension of gmd:MD_Constraints_Type
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:MD_Constraints_Type">
				<xs:sequence minOccurs="0">
					<xs:element name="jurisdictionLink" type="gmd:URL_PropertyType" minOccurs="1"/>
      		<xs:element name="licenseLink" type="gmd:URL_PropertyType" minOccurs="1"/>
      		<xs:element name="imageLink" type="gmd:URL_PropertyType" minOccurs="1"/>
					<xs:element name="licenseName" type="gco:CharacterString_PropertyType" minOccurs="1"/>
					<xs:element name="attributionConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="derivativeConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="commercialUseConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="collectiveWorksConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="otherConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="mcp:commonsType" use="required"/> 
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_Constraints"/> 
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

<!-- ====================================================================== -->
<!-- commonsType attribute -->
<!-- ====================================================================== -->

	<xs:attribute name="commonsType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Creative Commons"/>
				<xs:enumeration value="Data Commons"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>

<!-- ====================================================================== -->
<!-- Add elements to MD_DataIdentification -->
<!-- ====================================================================== -->

	<xs:element name="MD_DataIdentification" substitutionGroup="gmd:AbstractMD_Identification" type="mcp:MD_DataIdentification_Type"/>

	<xs:complexType name="MD_DataIdentification_Type">
		<xs:complexContent>
			<xs:extension base="gmd:MD_DataIdentification_Type">
				<xs:sequence>
					<xs:element name="samplingFrequency" type="gmd:MD_MaintenanceFrequencyCode_PropertyType" minOccurs="0"/>
					<xs:element name="dataParameters" type="mcp:DP_DataParameters_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="taxonomicCoverage" type="mcp:TC_Taxon_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_DataIdentification"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MD_DataIdentification_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:MD_DataIdentification"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

<!-- ====================================================================== -->
<!-- Taxonomic Coverage Definitions -->
<!-- ====================================================================== -->

	<xs:complexType name="TC_Taxon_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:TC_Taxon"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

	<xs:element name="TC_Taxon" type="mcp:TC_Taxon_Type"/>

	<xs:complexType name="TC_Taxon_Type">
		<xs:annotation>
			<xs:documentation>
				Taxononmic Concepts (in dwc) and an optional URL to a presentation that 
				shows the concepts in HTML
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="taxonInfo" type="mcp:TaxonInfo_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vocabularyListURL" type="gmd:URL_PropertyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="vocabularyListVersion" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="vocabularyListAuthority" type="gmd:CI_Citation_PropertyType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="presentationURL" type="gmd:URL_PropertyType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
	</xs:complexType>

	<xs:complexType name="TaxonInfo_PropertyType">
		<xs:annotation>
			<xs:documentation>
				Taxon Concepts are expressed as a dwc:Taxon element (Darwin Core)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="dwc:Taxon" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
	</xs:complexType>

<!-- ====================================================================== -->
<!-- Data Parameter Definitions -->
<!-- ====================================================================== -->

	<xs:element name="DP_RelationshipTypeCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>

	<xs:complexType name="DP_RelationshipTypeCode_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:DP_RelationshipTypeCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

	<xs:element name="DP_VocabularyRelationship" type="mcp:DP_VocabularyRelationship_Type"/>

	<xs:complexType name="DP_VocabularyRelationship_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:DP_VocabularyRelationship"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

	<xs:complexType name="DP_VocabularyRelationship_Type">
		<xs:annotation>
			<xs:documentation>Information about relationships to a term in 
			another vocabulary
			- the type of relationship between the term and the vocabulary term   
			- URL of the term from the vocabulary
			- URL of the definition of the term from the vocabulary
			- Definition of the term (if not in a definition vocabulary)
			- URL of the vocabulary
			- Version of the vocabulary
			- Citation of the vocabulary
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence minOccurs="1">
					<xs:element name="relationshipType" type="mcp:DP_RelationshipTypeCode_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="relatedTermURL" type="gmd:URL_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="relatedTerm" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

<!-- ====================================================================== -->

	<xs:element name="DP_TypeCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>

	<xs:complexType name="DP_TypeCode_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:DP_TypeCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

	<xs:element name="DP_Term" type="mcp:DP_Term_Type"/>

	<xs:complexType name="DP_Term_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:DP_Term"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

	<xs:complexType name="DP_Term_Type">
		<xs:annotation>
			<xs:documentation>Information about a Data Parameter Term - 
			- the term, 
			- term type: short name, long name, localSynonym etc     
			- whether the term is actually used in dataset (boolean), 
			- relationships between the term and terms in other vocabularies      
			- local definition (usually used if term is not related to terms in other
			  vocabularies)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence minOccurs="1">
					<xs:element name="term" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="type" type="mcp:DP_TypeCode_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="usedInDataset" type="gco:Boolean_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="vocabularyTermURL" type="gmd:URL_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="vocabularyTermPublisher" type="gmd:CI_Citation_PropertyType" minOccurs="0" maxOccurs="1"/>
					<!-- non-mandatory for uncontrolled vocabulary -->
					<xs:element name="vocabularyServiceURL" type="gmd:URL_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="vocabularyVersion" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="vocabularyPublisher" type="gmd:CI_Citation_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="vocabularyRelationship" type="mcp:DP_VocabularyRelationship_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="termDefinition" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

<!-- ====================================================================== -->

	<xs:element name="DP_DataParameter" type="mcp:DP_DataParameter_Type"/>

	<xs:complexType name="DP_DataParameter_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:DP_DataParameter"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

	<xs:complexType name="DP_DataParameter_Type">
		<xs:annotation>
			<xs:documentation>Information about a Data Parameter</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence minOccurs="1">
					<xs:element name="parameterName" type="mcp:DP_Term_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="parameterUnits" type="mcp:DP_Term_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="parameterMinimumValue" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="parameterMaximumValue" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="parameterDescription" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="parameterDeterminationInstrument" type="mcp:DP_Term_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="parameterAnalysisMethod" type="mcp:DP_Term_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="platform" type="mcp:DP_Term_PropertyType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

<!-- ====================================================================== -->

	<xs:complexType name="DP_DataParameters_Type">
		<xs:annotation>
			<xs:documentation>Information about each Data Parameter in a dataset</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence minOccurs="1">
					<xs:element name="dataParameter" type="mcp:DP_DataParameter_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="DP_DataParameters" type="mcp:DP_DataParameters_Type"/>

	<xs:complexType name="DP_DataParameters_PropertyType">
		<xs:annotation>
			<xs:documentation>Information the Data Parameters in a dataset</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:DP_DataParameters"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

<!-- ====================================================================== -->
<!-- Add revisionDate to gmd:MD_Metadata -->
<!-- ====================================================================== -->

	<xs:complexType name="MD_Metadata_Type">
		<xs:annotation>
			<xs:documentation>
Extends the metadata element to include revisionDate
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:MD_Metadata_Type">
				<xs:sequence>
					<xs:element name="revisionDate" type="gco:Date_PropertyType" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_Metadata"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="MD_Metadata" substitutionGroup="gmd:MD_Metadata" type="mcp:MD_Metadata_Type"/>

	<xs:complexType name="MD_Metadata_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:MD_Metadata"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

</xs:schema>
