iso19139.naplio-service/schema/napm/napmCharacterString.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.geoconnections.org/nap/napMetadataTools/napXsd/napm" elementFormDefault="qualified" version="0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:napm="http://www.geoconnections.org/nap/napMetadataTools/napXsd/napm">
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from NAP - Metadata Profile  ====== </xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<!-- xs:include schemaLocation="../gmd/referenceSystem.xsd"/ -->
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<!-- =========================================================================== -->
<!--	<xs:complexType name="napMD_FileFormatCode_PropertyType">
		<xs:complexContent>
			<xs:extension base="gco:CharacterString_PropertyType">
				<xs:attribute name="codeList" type="xs:anyURI" use="required"/>
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional"/>
				<xs:attribute name="codeListValue" type="xs:anyURI" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>  -->
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="napMD_FileFormatCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
	<!-- ........................................................................ -->
	<xs:complexType name="napMD_FileFormatCode_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="napm:napMD_FileFormatCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>
