iso19139.sdn-csr/src/main/plugin/iso19139.sdn-csr/schema/SDN2_CSR_ISO19139_3.0.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.seadatanet.org" elementFormDefault="qualified"
    version="3.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gco="http://www.isotc211.org/2005/gco"
    xmlns:sdn="http://www.seadatanet.org"
    xmlns:gmi="http://www.isotc211.org/2005/gmi"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sch="http://www.ascc.net/xml/schematron"
    xmlns:gmd="http://www.isotc211.org/2005/gmd">
    <!-- 
        /**
        *
        * This file is part of SeaDataNet metadata profile of ISO 19115.
        *
        * Copyright (C) 2012 Enrico Boldrini, Stefano Nativi
        * CNR - Institute of Atmospheric Pollution Research
        *
        * schema version 3.0.0
        */
    -->
    <!-- ================================= Annotation ================================ -->
    <xs:annotation>
        <xs:documentation>CSR profile schema definition. This version is for local (offline) use only. General users should point to the official schema version.</xs:documentation>
    </xs:annotation>
    <!-- ================================== Imports & Includes ================================== -->
    <!-- Local links to schemas 
    <xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://www.isotc211.org/schemas/2005/gmd/gmd.xsd"/>
    <xs:import namespace="http://www.isotc211.org/2005/gmx" schemaLocation="http://www.isotc211.org/schemas/2005/gmx/gmx.xsd"/>
    <xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://www.isotc211.org/schemas/2005/gco/gcoBase.xsd"/>
    <xs:import namespace="http://www.isotc211.org/2005/gmi" schemaLocation="http://schemas.seadatanet.org/Standards-Software/Metadata-formats/iso19139/gmi/gmi.xsd"/>
    -->
    <xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../../iso19139/schema/gmd/gmd.xsd"/>
    <xs:import namespace="http://www.isotc211.org/2005/gmx" schemaLocation="../../iso19139/schema/gmx/gmx.xsd"/>
    <xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../../iso19139/schema/gco/gcoBase.xsd"/>
    <xs:import namespace="http://www.isotc211.org/2005/gmi" schemaLocation="gmi/gmi.xsd"/>
    
    <!-- Extended MD_Metadata element -->    
    <!-- =========================================================================== -->
    
    <!-- bibliographic information -->
    <xs:element name="additionalDocumentation" type="sdn:SDN_Citation_PropertyType"/>
    
    <xs:complexType name="SDN_DataIdentification_Type">
        <xs:annotation>
            <xs:documentation>Standardized resource reference</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="gmd:MD_DataIdentification_Type">
                <xs:sequence>
                    <xs:element name="additionalDocumentation" type="sdn:SDN_Citation_PropertyType" minOccurs="0"  maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute ref="gco:isoType" fixed="MD_DataIdentification_Type" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="SDN_DataIdentification" type="sdn:SDN_DataIdentification_Type" substitutionGroup="gmd:MD_DataIdentification"/>
        
    
    <xs:complexType name="SDN_Citation_Type">
        <xs:annotation>
            <xs:documentation>Standardized resource reference</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="gmd:CI_Citation_Type">
                <xs:sequence>                    
                    <xs:element name="onlineReference" type="gmd:CI_OnlineResource_PropertyType" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute ref="gco:isoType" fixed="CI_Citation_Type" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ........................................................................ -->
    <xs:element name="SDN_Citation" type="sdn:SDN_Citation_Type"/>
    <!-- ........................................................................ -->
    <xs:complexType name="SDN_Citation_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sdn:SDN_Citation"/>
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference"/>
        <xs:attribute ref="gco:nilReason"/>        
    </xs:complexType>        

    <xs:element name="SDN_Objective" type="sdn:SDN_Objective_Type" substitutionGroup="gmi:MI_Objective" />
    
    <xs:complexType name="SDN_Objective_Type">
        <xs:annotation>
            <xs:documentation>SDN Objective</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="gmi:MI_Objective_Type">
                <xs:sequence>
                    <xs:element ref="sdn:SDN_SamplingActivity" minOccurs="0"></xs:element>                    
                </xs:sequence>
                <xs:attribute ref="gco:isoType" fixed="MI_Objective_Type" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="SDN_SamplingActivity" type="sdn:SDN_SamplingActivity_Type"  />
    
    <xs:complexType name="SDN_SamplingActivity_Type">
        <xs:annotation>
            <xs:documentation>SDN Objective</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="quantity" type="xs:decimal"></xs:element>
            <xs:element name="unit" type="sdn:SDN_CSRUnitCode_PropertyType"></xs:element>            
        </xs:sequence>        
    </xs:complexType>
    
    <!-- Code lists definitions -->
    
    <!-- CSR specific lists -->
    
    <xs:element name="SDN_PortCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
    
    <xs:complexType name="SDN_PortCode_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sdn:SDN_PortCode"/>
        </xs:sequence>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
        
    <xs:element name="SDN_MarsdenCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
    
    <xs:complexType name="SDN_MarsdenCode_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sdn:SDN_MarsdenCode"/>
        </xs:sequence>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
    
    <xs:element name="SDN_DataCategoryCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
    
    <xs:complexType name="SDN_DataCategoryCode_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sdn:SDN_DataCategoryCode"/>
        </xs:sequence>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
    
    <xs:element name="SDN_CSRUnitCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
    
    <xs:complexType name="SDN_CSRUnitCode_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sdn:SDN_CSRUnitCode"/>
        </xs:sequence>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
    
    <xs:element name="SDN_PlatformCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
    
    <xs:complexType name="SDN_PlatformCode_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sdn:SDN_PlatformCode"/>
        </xs:sequence>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>

    <xs:element name="SDN_WaterBodyCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
    
    <xs:complexType name="SDN_WaterBodyCode_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sdn:SDN_WaterBodyCode"/>
        </xs:sequence>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>

    <!-- CSR/CDI lists -->
    <xs:element name="SDN_FormatNameCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
    
    <xs:complexType name="SDN_FormatNameCode_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sdn:SDN_FormatNameCode"/>
        </xs:sequence>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>

    <xs:element name="SDN_HierarchyLevelNameCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
    
    <xs:complexType name="SDN_HierarchyLevelNameCode_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sdn:SDN_HierarchyLevelNameCode"/>
        </xs:sequence>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>

    <xs:element name="SDN_DeviceCategoryCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
    
    <xs:complexType name="SDN_DeviceCategoryCode_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sdn:SDN_DeviceCategoryCode"/>
        </xs:sequence>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
    
    <xs:element name="SDN_PlatformCategoryCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
    
    <xs:complexType name="SDN_PlatformCategoryCode_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sdn:SDN_PlatformCategoryCode"/>
        </xs:sequence>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
    
    <xs:element name="SDN_ParameterDiscoveryCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
    
    <xs:complexType name="SDN_ParameterDiscoveryCode_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sdn:SDN_ParameterDiscoveryCode"/>
        </xs:sequence>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
    
    <xs:element name="SDN_EDMERPCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
    
    <xs:complexType name="SDN_EDMERPCode_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sdn:SDN_EDMERPCode"/>
        </xs:sequence>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>

    <xs:element name="SDN_EDMOCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
    
    <xs:complexType name="SDN_EDMOCode_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sdn:SDN_EDMOCode"/>
        </xs:sequence>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
    
    <xs:element name="SDN_EDMEDCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
    
    <xs:complexType name="SDN_EDMEDCode_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sdn:SDN_EDMEDCode"/>
        </xs:sequence>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
    
    <xs:element name="SDN_CRSCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
    
    <xs:complexType name="SDN_CRSCode_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sdn:SDN_CRSCode"/>
        </xs:sequence>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
    
    <xs:element name="SDN_CountryCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
    
    <xs:complexType name="SDN_CountryCode_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sdn:SDN_CountryCode"/>
        </xs:sequence>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>

</xs:schema>
