iso19139.mcp/schema/extensions/mcpExtensions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://bluenet3.antcrc.utas.edu.au/mcp" elementFormDefault="qualified" version="1.5" xmlns:mcp="http://bluenet3.antcrc.utas.edu.au/mcp" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gsr="http://www.isotc211.org/2005/gsr" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gts="http://www.isotc211.org/2005/gts" xmlns:gss="http://www.isotc211.org/2005/gss" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml" xmlns:srv="http://www.isotc211.org/2005/srv">

	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gts" schemaLocation="../gts/gts.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/gmd.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/srv" schemaLocation="../srv/srv.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="../gml/gml.xsd"/>

	<xs:annotation>
		<xs:documentation>
This file contains extensions of the ISO19139 gmd schema 
objects for the Australian Marine Community Profile Version 1.3-19139 and 
1.4-19139

Rules (added in August 2007) are read from schematrons and applied to 
the XML as the second stage of a new validate function. The first stage of the 
validate function checks against this schema definition file.

History:

Simon Pigot, January 2008 
Added Creative Commons as a substitute for gmd:MD_Constraints

Simon Pigot, December 2008
Added DataParameters to mcp:MD_DataIndentification
Added Data Commons as a substitute for gmd:MD_Constraints

Craig Jones, May 2010
Added dataObject to gmd:MD_ScopeCode code list.

Simon Pigot, July 2010
Reorganise for MCP 1.4 and add taxonomic coverage support.

Simon Pigot, January 2012
Add new CI_Responsibility from ISO19115 revision to allow better re-use
of organisation and individual contact details around roles - this adds:
CI_Citation/responsibleParty/CI_Responsibility and
MD_Metadata/metadataContactInfo/CI_Responsibility
MD_DataIdentification/resourceContactInfo/CI_Responsibility

		</xs:documentation>
	</xs:annotation>


<!-- ====================================================================== -->
<!-- Extensions for CI_Responsibility                                       -->
<!-- ====================================================================== -->

	<xs:complexType name="CI_Responsibility_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:CI_Responsibility"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

	<xs:element name="CI_Responsibility" type="mcp:CI_Responsibility_Type"/>

	<xs:complexType name="CI_Responsibility_Type">
		<xs:annotation>
			<xs:documentation>Identification of, and means of communication with, person(s) and organisations associated with the dataset but with different organisation to CI_ResponsibleParty_Type</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="role" type="gmd:CI_RoleCode_PropertyType" maxOccurs="unbounded"/>
					<xs:element name="extent" type="gmd:EX_Extent_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="party" type="mcp:CI_Party_PropertyType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

<!-- ====================================================================== -->

	<xs:complexType name="AbstractCI_Party_Type" abstract="true">
    <xs:annotation>
      <xs:documentation>Abstract party information</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
					<xs:element name="name" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="contactInfo" type="gmd:CI_Contact_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
	
	<xs:element name="AbstractCI_Party" type="mcp:AbstractCI_Party_Type" abstract="true"/>

	<xs:complexType name="CI_Party_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:AbstractCI_Party"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

<!-- ====================================================================== -->

	<xs:complexType name="CI_Organisation_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:CI_Organisation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

	<xs:element name="CI_Organisation" type="mcp:CI_Organisation_Type" substitutionGroup="mcp:AbstractCI_Party"/>

	<xs:complexType name="CI_Organisation_Type">
		<xs:annotation>
			<xs:documentation>Identification of, and means of communication with organisations associated with the resource or metadata</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="mcp:AbstractCI_Party_Type">
				<xs:sequence>
					<xs:element name="individual" type="mcp:CI_Individual_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

<!-- ====================================================================== -->

	<xs:complexType name="CI_Individual_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:CI_Individual"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

	<xs:element name="CI_Individual" type="mcp:CI_Individual_Type" substitutionGroup="mcp:AbstractCI_Party"/>

	<xs:complexType name="CI_Individual_Type">
		<xs:annotation>
			<xs:documentation>Identification of, and means of communication with individuals associated with the resource or metadata</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="mcp:AbstractCI_Party_Type">
				<xs:sequence>
					<xs:element name="positionName" type="gco:CharacterString_PropertyType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

<!-- ====================================================================== -->
<!-- Extensions for currency and aggregationUnit elements EX_TemporalExtent -->
<!-- ====================================================================== -->

  <xs:element name="MD_CurrencyTypeCode" type="gco:CodeListValue_Type"/>

  <xs:complexType name="MD_CurrencyTypeCode_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="mcp:MD_CurrencyTypeCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>

  <xs:element name="MD_TemporalAggregationUnitCode" type="gco:CodeListValue_Type"/>

  <xs:complexType name="MD_TemporalAggregationUnitCode_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="mcp:MD_TemporalAggregationUnitCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>

	<xs:element name="EX_TemporalExtent" substitutionGroup="gmd:EX_TemporalExtent" type="mcp:EX_TemporalExtent_Type"/>

	<xs:complexType name="EX_TemporalExtent_Type">
		<xs:annotation>
			<xs:documentation>
				Adds currency and temporalAggregation to gmd:EX_TemporalExtent_Type
				and temporarily - beginTime and endTime - these two should be 
				deprecated because the gml: constructs work correctly now
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:EX_TemporalExtent_Type">
				<xs:sequence minOccurs="0">
					<xs:element name="beginTime" minOccurs="0" maxOccurs="1" type="gco:DateTime_PropertyType"/>
					<xs:element name="endTime" minOccurs="0" maxOccurs="1" type="gco:DateTime_PropertyType"/>
					<xs:element name="currency" minOccurs="0" maxOccurs="1" type="mcp:MD_CurrencyTypeCode_PropertyType"/>
					<xs:element name="temporalAggregation" minOccurs="0" maxOccurs="1" type="mcp:MD_TemporalAggregationUnitCode_PropertyType"/>
				</xs:sequence>
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:EX_TemporalExtent"/> 
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="EX_TemporalExtent_PropertyType">
		<xs:sequence>
		 <xs:element ref="mcp:EX_TemporalExtent" minOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

<!-- ====================================================================== -->
<!-- Add taxonomic coverage element to EX_Extent                            -->
<!-- ====================================================================== -->

	<xs:element name="EX_Extent" substitutionGroup="gmd:EX_Extent" type="mcp:EX_Extent_Type"/>

	<xs:complexType name="EX_Extent_Type">
		<xs:annotation>
			<xs:documentation>Information about taxonomic as well as spatial, vertical, and temporal extent</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:EX_Extent_Type">
				<xs:sequence>
					<xs:element name="taxonomicElement" type="mcp:EX_TaxonomicElement_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:EX_Extent"/> 
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="EX_TaxonomicElement_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:EX_TaxonomicCoverage"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

	<xs:element name="EX_TaxonomicCoverage" type="mcp:EX_TaxonomicCoverage_Type"/>

	<xs:complexType name="EX_TaxonomicCoverage_Type">
		<xs:annotation>
			<xs:documentation>
				Taxon Concepts and an optional URL to a presentation that shows the
				concepts in HTML
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="taxonConcepts" type="mcp:TaxonomicConcepts_PropertyType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="presentationLink" type="gmd:URL_PropertyType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
	</xs:complexType>

	<xs:complexType name="TaxonomicConcepts_PropertyType">
		<xs:annotation>
			<xs:documentation>
				Taxon Concepts must be expressed in XML that complies
				with another XML Schema (namespace=#other). 

				GeoNetwork specific info:
				This element cannot be edited by GeoNetwork - instead the 
				user must provide an XLink to a service that provides the 
				taxonomic metadata. GeoNetwork will hold that metadata in its
				XLink cache and index it (if it understands the schema) in Lucene.
				At present the only taxon schema GeoNetwork understands is the taxon 
				concept schema via IBIS http://anbg.gov.au/ibis.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##other" processContents="strict"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
	</xs:complexType>

<!-- ====================================================================== -->
<!-- Add MD_Commons as a substitute for MD_Constraints -->
<!-- ====================================================================== -->

	<xs:element name="MD_Commons" substitutionGroup="gmd:MD_Constraints" type="mcp:MD_CommonsConstraints_Type"/>

	<xs:complexType name="MD_CommonsConstraints_Type">
		<xs:annotation>
			<xs:documentation>
				Add MD_Commons as an extension of gmd:MD_Constraints_Type
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:MD_Constraints_Type">
				<xs:sequence minOccurs="0">
					<xs:element name="jurisdictionLink" type="gmd:URL_PropertyType" minOccurs="1"/>
      		<xs:element name="licenseLink" type="gmd:URL_PropertyType" minOccurs="1"/>
      		<xs:element name="imageLink" type="gmd:URL_PropertyType" minOccurs="1"/>
					<xs:element name="licenseName" type="gco:CharacterString_PropertyType" minOccurs="1"/>
					<xs:element name="attributionConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="derivativeConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="commercialUseConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="collectiveWorksConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="otherConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="mcp:commonsType" use="required"/> 
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_Constraints"/> 
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

<!-- ====================================================================== -->
<!-- commonsType attribute -->
<!-- ====================================================================== -->

	<xs:attribute name="commonsType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Creative Commons"/>
				<xs:enumeration value="Data Commons"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>

<!-- ====================================================================== -->
<!-- Add elements to MD_DataIdentification -->
<!-- ====================================================================== -->

	<xs:element name="MD_DataIdentification" substitutionGroup="gmd:AbstractMD_Identification" type="mcp:MD_DataIdentification_Type"/>

	<xs:complexType name="MD_DataIdentification_Type">
		<xs:complexContent>
			<xs:extension base="gmd:MD_DataIdentification_Type">
				<xs:sequence>
					<xs:element name="samplingFrequency" type="gmd:MD_MaintenanceFrequencyCode_PropertyType" minOccurs="0"/>
					<xs:element name="sensor" type="gco:ObjectReference_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="sensorCalibrationProcess" type="gco:ObjectReference_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="dataParameters" type="mcp:DP_DataParameters_PropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="resourceContactInfo" type="mcp:CI_Responsibility_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_DataIdentification"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MD_DataIdentification_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:MD_DataIdentification"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

	<!-- The data parameters definitions -->

	<xs:element name="DP_TypeCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>

	<xs:complexType name="DP_TypeCode_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:DP_TypeCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

	<xs:complexType name="DP_Info_Type">
		<xs:annotation>
			<xs:documentation>Information about a Data Parameter or Units Name - 
			- the name, 
			- name type: short name, long name, code, or other name, 
			- whether the name is actually used in dataset (boolean), 
			- URL of register that holds the name (eg. AODCJF register), 
			- version of the register that holds the name (eg. GCMD 1.6.1) 
			- citation of authority that manages name (eg. AODCJF details), 
			- local definition (usually used if no authority given)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence minOccurs="1">
					<xs:element name="name" type="gco:CharacterString_PropertyType" minOccurs="1"/>
					<xs:element name="type" type="mcp:DP_TypeCode_PropertyType" minOccurs="1"/>
					<xs:element name="usedInDataset" type="gco:Boolean_PropertyType" minOccurs="0"/>
					<xs:element name="vocabularyListURL" type="gmd:URL_PropertyType" minOccurs="0"/>
					<xs:element name="vocabularyListVersion" type="gco:CharacterString_PropertyType" minOccurs="0"/>
					<xs:element name="vocabularyListAuthority" type="gmd:CI_Citation_PropertyType" minOccurs="0"/>
					<xs:element name="localDefinition" type="gco:CharacterString_PropertyType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="DP_ParameterName" type="mcp:DP_Info_Type"/>

	<xs:complexType name="DP_NameInfo_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:DP_ParameterName"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

	<xs:element name="DP_UnitsName" type="mcp:DP_Info_Type"/>

	<xs:complexType name="DP_UnitsInfo_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:DP_UnitsName"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

	<xs:complexType name="DP_DataParameter_Type">
		<xs:annotation>
			<xs:documentation>Information about a Data Parameter</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence minOccurs="1">
					<xs:element name="parameterName" type="mcp:DP_NameInfo_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="parameterUnits" type="mcp:DP_UnitsInfo_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="parameterMinimumValue" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="parameterMaximumValue" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="parameterDescription" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="DP_DataParameter" type="mcp:DP_DataParameter_Type"/>

	<xs:complexType name="DP_DataParameter_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:DP_DataParameter"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

	<xs:complexType name="DP_DataParameters_Type">
		<xs:annotation>
			<xs:documentation>Information about each Data Parameter in a dataset</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence minOccurs="1">
					<xs:element name="dataParameter" type="mcp:DP_DataParameter_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="DP_DataParameters" type="mcp:DP_DataParameters_Type"/>

	<xs:complexType name="DP_DataParameters_PropertyType">
		<xs:annotation>
			<xs:documentation>Information the Data Parameters in a dataset</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:DP_DataParameters"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

<!-- ====================================================================== -->
<!-- Add revisionDate and metadataContactInfo to gmd:MD_Metadata -->
<!-- ====================================================================== -->

	<xs:complexType name="MD_Metadata_Type">
		<xs:annotation>
			<xs:documentation>
Extends the metadata element to include revisionDate and metadataContactInfo
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:MD_Metadata_Type">
				<xs:sequence>
					<xs:element name="revisionDate" type="gco:Date_PropertyType" minOccurs="0"/>
					<xs:element name="metadataContactInfo" type="mcp:CI_Responsibility_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_Metadata"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="MD_Metadata" substitutionGroup="gmd:MD_Metadata" type="mcp:MD_Metadata_Type"/>

	<xs:complexType name="MD_Metadata_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:MD_Metadata"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

<!-- ====================================================================== -->
<!-- Add responsibleParty to gmd:CI_Citation -->
<!-- ====================================================================== -->

	<xs:complexType name="CI_Citation_Type">
		<xs:annotation>
			<xs:documentation>
Extends the citation element to include responsibleParty
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:CI_Citation_Type">
				<xs:sequence>
					<xs:element name="responsibleParty" type="mcp:CI_Responsibility_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:CI_Citation"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="CI_Citation" substitutionGroup="gmd:CI_Citation" type="mcp:CI_Citation_Type"/>

	<xs:complexType name="CI_Citation_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:CI_Citation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

<!-- ====================================================================== -->
<!-- DEPRECATED - elements below this are present but their use is          -->
<!-- no longer supported and they may be deleted in future versions         -->
<!-- ====================================================================== -->

<!-- ====================================================================== -->
<!-- Add MD_CreativeCommons as a substitute for MD_Constraints -->
<!-- ====================================================================== -->

	<xs:element name="MD_CreativeCommons" substitutionGroup="gmd:MD_Constraints" type="mcp:MD_CreativeCommonsConstraints_Type"/>

	<xs:complexType name="MD_CreativeCommonsConstraints_Type">
		<xs:annotation>
			<xs:documentation>
				Add MD_CreativeCommons as an extension of gmd:MD_Constraints_Type
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:MD_Constraints_Type">
				<xs:sequence minOccurs="0">
					<xs:element name="jurisdictionLink" type="gmd:URL_PropertyType" minOccurs="1"/>
      		<xs:element name="licenseLink" type="gmd:URL_PropertyType" minOccurs="1"/>
      		<xs:element name="imageLink" type="gmd:URL_PropertyType" minOccurs="1"/>
					<xs:element name="licenseName" type="gco:CharacterString_PropertyType" minOccurs="1"/>
					<xs:element name="attributionConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="otherConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_Constraints"/> 
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


<!-- ====================================================================== -->
<!-- Add MD_DataCommons as a substitute for MD_Constraints -->
<!-- ====================================================================== -->

	<xs:element name="MD_DataCommons" substitutionGroup="gmd:MD_Constraints" type="mcp:MD_DataCommonsConstraints_Type"/>

	<xs:complexType name="MD_DataCommonsConstraints_Type">
		<xs:annotation>
			<xs:documentation>
				Add MD_DataCommons as an extension of gmd:MD_Constraints_Type
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:MD_Constraints_Type">
				<xs:sequence minOccurs="0">
					<xs:element name="jurisdictionLink" type="gmd:URL_PropertyType" minOccurs="1"/>
      		<xs:element name="licenseLink" type="gmd:URL_PropertyType" minOccurs="1"/>
      		<xs:element name="imageLink" type="gmd:URL_PropertyType" minOccurs="1"/>
					<xs:element name="licenseName" type="gco:CharacterString_PropertyType" minOccurs="1"/>
					<xs:element name="attributionConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="derivativeConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="commercialUseConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="collectiveWorksConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="otherConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_Constraints"/> 
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
